{% load crispy_forms_tags %}
<!--comment list-->

{% for comment in article.comment_set.all %}
<div class="d-flex justify-content-between">
    <a><b>{{ comment.user }}</b>  {{ comment.content }}</a>
    {% if comment.user == user %}
    <a href="{% url 'community:comments_delete' article.pk comment.pk %}">
        <button class="btn btn-danger btn-sm">delete</button>
    </a>
    {% endif %}
</div>
{% endfor %}



<!--new comment-->
<a>comment:</a><br>
<form action="{% url 'community:comments_create' article.pk %}" method="POST">
    {% csrf_token %}
    <a class="d-flex justify-content-between">
        {{ comment_form.content }}
        <input type="submit" value="post" class="btn btn-primary btn-sm">
    </a>
</form>