{% extends 'base.html' %}

{% block body %}
<div class="card">
    {% include 'community/_post_nav.html' %}
    <!--image-->
    <img src="{{ article.image.url }}" class="card-img-top" alt="...">
    <!--post content -->
    <div class="card-body">
        {% include 'community/_like.html' %}
        <p class="card-text">Title: {{ article.title }}</p>
        <p class="card-text">{{ article.content }}</p>

    	<p class="card-text"><small class="text-muted">Last updated at {{ article.updated_at }} | Created at {{ article.created_at }}</small></p>
        <hr>
        {% include 'community/_comments.html' %}
    </div>
</div>

{% endblock %}