{% extends 'base.html' %}

{% block body %}
<div class="card">
    <a href="{% url 'accounts:profile' article.user %}" class="card-header text-dark text-decoration-none font-weight-bold">{{ article.user }}</a>
    <img src="{{ article.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        {% include 'community/_like.html' %}
        <p class="card-text">Title: {{ article.title }}</p>
        <p class="card-text">{{ article.content }}</p>
        {% if article.updated_at == article.created_at %}
        	<p class="card-text"><small class="text-muted">Created at {{ article.created_at }}</small></p>
        {% else %}
        	<p class="card-text"><small class="text-muted">Last updated at {{ article.updated_at }}</small></p>
        {% endif %}

        {% if request.user == article.user %}
            <a href="{% url 'community:update' article.pk %}"><button class="btn btn-info btn-sm">Edit</button></a>
            <a href="{% url 'community:delete' article.pk %}"><button class="btn btn-danger btn-sm">Delete</button></a><br>
        {% endif %}
        <hr>
        {% include 'community/_comments.html' %}
    </div>
</div>

{% endblock %}