{% extends 'base.html' %}
{% block body %}
    {% if request.resolver_match.url_name == 'create' %}
    <h2>New Post</h2>
    <form action="{% url 'community:create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
    {% else %}
    <h2>Edit</h2>
        <form action="{% url 'community:update' article.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Update</button>
    </form>
    {% endif %}

{% endblock %}
