{% extends 'base.html' %}
{% block body %}

{% for article in articles %}
    <div class="card">
        {% include 'community/_post_nav.html' %}
        <img src="{{ article.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            {% include 'community/_like.html' %}
            <p class="card-text"><a class="text-dark text-decoration-none" href="{% url 'community:detail' article.pk %}">Title: {{ article.title }}</a></p>
            <!--num of comments-->
            <p class="card-text">{{ article.comment_set.all|length }} comments</p>
            <!--updated time -->
    	    <p class="card-text"><small class="text-muted">Last updated at {{ article.updated_at }}</small></p>

        </div>
    </div>
{% endfor %}



{% endblock %}