{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    {% if request.resolver_match.url_name == 'signup' %}
    <h2>Sign Up</h2>
    <form action="{% url 'accounts:signup' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary btn-sm">submit</button>
    </form>
    {% else %}
    <h2>Login</h2>
    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary btn-sm">submit</button>
    </form>
    {% endif %}
{% endblock %}