{% extends 'base.html' %}
{% block body %}
<h2>{{ user.username }}'s Profile</h2>
<hr>
<!--Followers Followings-->
<!--if the profile page is someone else's -->
{% if user != request.user %}
    <!--if the user is already following the person-->
    {% if request.user in user.followers.all %}
        <a href="{% url 'accounts:follow' user.username %}" class="btn btn-sm btn-secondary">unfollow</a>
    <!--if the user is not following the person-->
    {% else %}
        <a href="{% url 'accounts:follow' user.username %}" class="btn btn-sm btn-primary">follow</a>
    {% endif %}
{% endif %}

<!--all posts and all likes-->
<p>All Posts | {{ user.article_set.all|length }} posts</p>
<a href="{% url 'accounts:follow_list' user.username %}?list=followers">followers {{ user.followers.all.count }}</a>
<br>
<a href="{% url 'accounts:follow_list' user.username %}?list=followings">followings {{ user.followings.all.count }}</a>
<hr>

<h3>Posts</h3>
{% for article in user.article_set.all %}
  <a href="{% url 'community:detail' article.pk %}">{{ article.title }}</a>
  <br>
  <img src="{{ article.image_thumbnail.url }}">
  <br>
{% endfor %}
<p>Total Likes | {{ user.like_articles.all|length }}</p>




{% endblock %}